# Cadena de conexión de MongoDB Atlas
# Este archivo solo contiene valores de ejemplo.
MONGODB_URI=mongodb+srv://USUARIO:CONTRASENA@CLUSTER.mongodb.net/?retryWrites=true&w=majority

# Nombre de la base de datos
MONGODB_DB_NAME=ecommerce
